.catalog {
  background-color: $color-f8f8f8;
}

.catalog__content {
  max-width: 280px;
  margin: 0 auto;
  padding-top: 50px;
}

.catalog__wrapper {
  padding-top: 20px;
}

.catalog__title {
  margin: 0;

  &::before {
    content: "Каталог";
  }
}

.catalog__sort {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.catalog__semi-bold-text {
  margin: 0;
  padding-right: 18px;
}

.product-card__button {
  width: 141px;
  font-size: 14px;
  line-height: 20px;
  background-image: url("/img/product-card-basket.svg");
  background-repeat: no-repeat;
  background-position: 10px 50%;
}

@media (min-width: 768px) {
  .catalog__content {
    max-width: 728px;
  }
}

@media (min-width: 1440px) {
  .catalog__content {
    max-width: 1360px;
  }

  .catalog__form {
    max-width: 30%;
  }
}
