.menu {
  width: 100%;
  order: 3;
  position: absolute;
  z-index: 10;
  transition: 1s;
  top: 60px;
  background-color: $color-ffffff;
}

.menu__hidden {
  transition: 1s;
  top: -1000px;
}

.menu--no-js {
  position: static;
}

.menu__item {
  border-bottom: 1px solid $color-f0ebff;
}

.menu__link {
  display: block;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  outline: none;

  &:first-child {
    border-top: 1px solid $color-f0ebff;
  }

  &:hover {
    color: $color-7859cf;
  }

  &:focus-visible {
    color: $color-7859cf;
  }

  &:active {
    color: $color-7859cf;
    background-color: $color-f0ebff;
  }
}

.menu__current-item {
  color: $color-7859cf;
}

@media (min-width: 768px) {
  .menu {
    transition: 0.5s;
    flex-grow: 3;
    position: static;
    width: auto;
    order: 0;
    display: flex;
    justify-content: center;
  }

  .menu__item {
    border-bottom: none;
  }

  .menu__link {
    padding: 31px 20px;
    text-align: left;
    position: relative;


    &:first-child {
      border-top: none;
    }
  }

  .menu__current-item {
    &::before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $color-7859cf;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

@media (min-width: 1440px) {
  .menu {
    justify-content: flex-start;
    margin-left: 110px;
  }

  .menu__link{
    min-width: 82px;
  }
}
