.number {
  display: flex;
  justify-content: space-between;
  position: relative;

  &::after {
    content: "";
    width: 8px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-bdbdbd;
  }
}

.number__input {
  display: block;
  width: 95px;
  padding: 6px 9px;
  background-color: $color-ffffff;
  border: 2px solid $color-9070ec;
  border-radius: 4px;
  font-size: inherit;
  line-height: 24px;
  text-align: center;
  outline: none;
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &:focus-visible {
    border-color: $color-593cac;
  }
}

@media (min-width: 768px) {
  .number__input {
    width: 65px;
  }
}

@media (min-width: 1440px) {
  .number__input {
    width: 107px;
  }
}
