.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price__actual {
font-family: "Montserrat", sans-serif;
font-size: 20px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0em;
margin: 0;
}

.price__old {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  color: $color-7859cf;
  position: relative;
  margin: 0;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      border-top:1px solid $color-7859cf;
      top: 50%;
      left: 0;
    }
}
