.product-card__item {
  background-color: $color-ffffff;
  max-width: 280px;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.product-card__picture {
  margin: 0 auto;
  display: block;
  width: 130px;
  height: 180px;
}

.product-card__link {
  display: block;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 0 20px;
}

.product-card__title {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 4px;
  text-align: center;
}

.product-card__text {
  margin: 0;
  padding-bottom: 16px;
  text-align: left;
}

.product-card__price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.product-card__button {
  width: 141px;
  font-size: 14px;
  line-height: 20px;
  background-image: url("/img/product-card-basket.svg");
  background-repeat: no-repeat;
  background-position: 10px 50%;
}

@media (min-width: 768px) {
  .product-card__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(349px, auto));
    gap: 0 30px;
  }

  .product-card__item {
    max-width: 349px;
  }

  .product-card__text {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .product-card__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px;
  }
}
