.radio__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.radio__fake {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border: 2px solid $color-bdbdbd;
  margin-right: 10px;
  position: relative;
}

.radio__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
}

.radio__input:checked + .radio__fake {
  border: 2px solid $color-7859cf;

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    background-color: $color-7859cf;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
  }
}

.radio__input:hover + .radio__fake,
.radio__input:focus + .radio__fake {
  &::after {
    background: rgba(120, 89, 207, 0.25);
  }
}

.radio__input:checked + .radio__fake--disabled {
  background-color: $color-e2e2e2;

  &::after {
    background-color: $color-bdbdbd;
  }
}

.radio__input:hover + .radio__fake--disabled,
.radio__input:focus + .radio__fake--disabled {
  cursor: default;
  background-color: $color-e2e2e2;
}
