.slider__wrapper {
  position: relative;
  z-index: 1;
}

.slider__content {
  padding-top: 14px;
}

.slider__page {
  display: none;
  position: relative;
  min-height: 640px;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 640px;
    z-index: -1;
  }
}

.slider__page--active {
  display: block;
}

.slider__page-one {
  &::before {
    background-color: $color-f3ebe1;
  }
}

.slider__page-two {
  &::before {
    background-color: $color-eae6fc;
  }
}

.slider__page-three {
  &::before {
    background-color: $color-e5e6e8;
  }
}

.slider__content {
  max-width: calc(100% - 40px);
  margin: 0 auto;
  position: relative;
  z-index: 15;
}

.slider__control {
  height: 100%;
  bottom: 0;
  position: absolute;
  z-index: 1;
  margin: 0 5% ;
}

.slider__control--right {
  right: 0;
}

.slider__button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  height: 100%;
  outline: none;
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 37%;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.slider__button--left {
  background-image: url("/img/arrow-left.svg");

  &:hover,
  &:focus-visible {
    background: linear-gradient(90deg, $color-ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}

.slider__button--right {
  background-image: url("/img/arrow-right.svg");

  &:hover,
  &:focus-visible {
    background: linear-gradient(-90deg, $color-ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(-90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}

.slider__dots {
  display: none;
}
//TABLET
@media (min-width: 768px) {
  .slider__content {
    display: flex;
    flex-direction: column-reverse;

    .slider__page {
      &::before {
        height: 640px;
      }
    }
  }
}


//TABLET

//DESCTOP
@media (min-width: 1440px) {
  .slider__content {
    flex-direction: row;
    min-height: 714px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .slider__page {
    &::before {
      height: 100%;
    }
  }

  .slider__dots {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    bottom: 75px;
  }

  .slider__dot {
    width: 62px;
    max-height: 4px;
    padding: 10px 0;
    margin-right: 8px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    position: relative;
    outline: none;

    &:last-child {
      margin-right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: $color-ffffff;
      top: 8px;
      left: 0;
    }

    &:hover,
    &:focus {
      &::after {
        background: rgba(120, 89, 207, 0.25);
      }
    }
  }
}

.slider__dot--current {
  &::after {
    background-color: $color-7859cf;
  }
}

//DESKTOP
