$color-d9d9d9: #d9d9d9;
$color-f0ebff: #f0ebff;
$color-333333:#333333;
$color-ffffff:#ffffff;
$color-7859cf: #7859cf;
$color-bdbdbd:#bdbdbd;
$color-f3ebe1:#f3ebe1;
$color-9070ec:#9070ec;
$color-f8f8f8:#f8f8f8;
$color-e2e2e2: #e2e2e2;
