/* здесь используйте глобальные селекторы img, body, html и так далее*/

img {
  max-width: 100%;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  @include link;
  color: $color-333333;
}

.main-title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: center;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.sub-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: $color-7859cf;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
  background-color: $color-7859cf;
  color: $color-ffffff;
  cursor: pointer;
}

.title-apostrofe {
    display: flex;
    align-items: center;
    flex-direction: column;

  &::before {
    content: "";
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: $color-7859cf;
  }
}

.bold-text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
}

.is-disabled {
  cursor: default;
  opacity: 0.7;
}


@media (min-width:768px) {

  .main-title {
    font-size: 56px;
  }

  .title {
    font-size: 42px;
  }

  .text {
    font-size: 20px;
  }

  .bold-text {
    font-size: 24px;
  }
}
